.login {
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid black;
  padding: 25px;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.tablalogin th {
  padding-top: 20px;
  padding-bottom: 20px; }

.cuadro1 {
  background-color: white;
  padding: 14px;
  width: 500px;
  border-radius: 10px 10px 10px 10px; }

.cuadro2 {
  background-color: white;
  padding: 19px;
  width: 500px;
  border-radius: 10px 10px 10px 10px; }

.lista {
  position: relative;
  top: 16px;
  left: -41px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 0px; }

.pestanal {
  background-color: white;
  padding: 2px 22px 0px 22px;
  margin-left: 14px;
  margin-right: 5px;
  border: 2px black solid;
  border-bottom: 2px white solid;
  border-radius: 10px 10px 0px 0px;
  color: black; }
  .pestanal .pestanal:hover {
    text-decoration: none;
    background-color: red; }

.pestanar {
  background-color: white;
  padding: 2px 22px 0px 22px;
  margin-left: 3px;
  margin-right: 5px;
  border: 2px black solid;
  border-radius: 10px 10px 0px 0px;
  color: black; }

.gris {
  background-color: grey; }

.loginprincipal {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 50px; }

.formu {
  border: 2px black solid;
  border-radius: 10px 10px 10px 10px; }

.trinputs {
  padding: 10px; }

.pestanaldiv {
  position: relative;
  bottom: 0px;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }

.pestanardiv {
  position: relative;
  bottom: 4px;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }

html, body {
  background: url("../img/fondobosque4.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white; }

.principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }

.banda_negras {
  width: 10%;
  height: 100%;
  float: left; }

.banda_negras2 {
  width: 10%;
  height: 100%;
  float: left; }

.lb {
  width: 100%;
  display: flex;
  flex-flow: row;
  padding-bottom: 20px; }

.logo {
  background-image: url("../img/logo3.png");
  background-repeat: no-repeat; }
  .logo > img {
    width: 200px;
    height: 150px; }

.cabecera {
  background-image: url("../img/BEAT DOWN_2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  display: flex;
  background-position: center;
  cursor: pointer; }

.contenido {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column; }

.contenidoI {
  margin-top: 25px; }

.bordeJ {
  border: 8px solid white; }

.ranking {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .ranking > table {
    margin: 50px;
    border: 4px solid white;
    border-radius: 25px; }

.rtabla {
  padding: 7px; }

.contenidoP {
  width: 80%;
  height: 100%;
  float: left; }

.footer {
  text-align: center;
  color: white;
  height: 10%;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px; }

.menu {
  height: 50px;
  color: white;
  border-color: white;
  display: flex;
  flex-flow: row; }

.caja_boton {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  text-align: center; }

.caja_menu {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-grow: 0; }

.boton {
  background-color: #817b79;
  color: white;
  font-weight: bold;
  border-color: black;
  width: 100%;
  border-radius: 10px 10px 10px 10px; }

.imgL {
  width: 25%; }
  .imgL > img {
    width: 80%; }

.imgR {
  width: 25%; }
  .imgR > img {
    width: 80%; }

.twitter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px; }
  .twitter > iframe {
    margin: 25px; }
