@import "./login/login.scss";
@import "./registro/registro.scss";
@import "./index/index.scss";

$color-fondo: black;
$color-letras: white;

html,body{
	background: url("../img/fondobosque4.jpg") no-repeat fixed center;
	background-size: cover;
	width: 100%;
	height: 100%;
	color: $color-letras;
}
.principal{
	// background-color:$color-fondo;
	width: 100%;
	height:100%;
	display:flex;
	flex-direction:row;
}
.banda_negras{
	// background-color:$color-fondo;
	width:10%;
	height:100%;
	float:left;
}
.banda_negras2{
	// background-color:$color-fondo;
	width:10%;
	height:100%;
	float:left;
}

.lb{
	width: 100%;
	// height:100%;
	// background-color:$color-fondo;
	display: flex;	
	flex-flow:row;
	padding-bottom:20px;
}
.logo{
	// background-color:$color-fondo;
	//width: 200px;
	background-image: url("../img/logo3.png");
	background-repeat: no-repeat;
	& > img{
		width:200px;
		height: 150px;
	}
}
.cabecera{
	// background-color:$color-fondo;
	background-image: url("../img/BEAT DOWN_2.png");
	background-repeat: no-repeat;
	width: 100%;
	height:200px;
	display: flex;
	background-position: center;
	cursor: pointer;

}
.contenido{
	// background-color:$color-fondo;
	color:$color-letras;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width:100%;
	//flex-grow:1;
	flex-direction:column;
}

.contenidoI{
	margin-top: 25px;
	// background-color:$color-fondo;
	//width:auto;

}
.bordeJ{
	border: 8px solid white;
}

//Tabla del ranking 

.ranking{
	margin-top: 25px;
	width:100%;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;

	& > table{
		margin: 50px;
		border: 4px solid white;
		border-radius: 25px ;
	}
}

.rtabla{
padding: 7px;
}

.contenidoP{
	width:80%;
	height:100%;
	float:left;
}

.footer{
	// background-color:$color-fondo;
	text-align: center;
	color:white;
	height:10%;
	width:100%;
	padding-bottom:10px;
	padding-top:10px;
}
.menu {
	// background-color:$color-fondo;
	height: 50px;
	color: white; 
	border-color: white;
	display: flex;
	flex-flow: row;
 //justify-content: space-between;
 // border-top: 0.5px white solid;
  //border-bottom: 0.5px white solid; 
  //margin-top:10px;

}

.caja_boton{
	display: flex;
	flex-flow: row;
	flex-grow:1;
	text-align:center;
	// background-color:$color-fondo;
	//border-left: 0.5px white solid;
	//border-right: 0.5px white solid;

}

.caja_menu{
	text-align: center;
	// background-color:$color-fondo;
	color: white;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-grow:0;

	//border-left: 0.5px white solid;
	//border-right: 0.5px white solid;
}

.boton{
	background-color:#817b79;
	color:white;
	font-weight:bold;
	border-color:black;
	width:100%;
	border-radius: 10px 10px 10px 10px;
}
.imgL{
	// background-color:$color-fondo;
	width:25%;

	& > img{
		width:80%;
		
	}
}
.imgR{
	// background-color:$color-fondo;
	width:25%;

	& > img{
		width:80%;
		
	}	
}
//Clase de los enlaces de twitter
.twitter{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin: 25px;
	& > iframe{
		margin: 25px;
	}
}


