$padd: 20px;
.login{
	background-color: black;
	border-radius: 10px 10px 10px 10px;
	border: 2px solid black;
	padding: 25px;
	color: black;
	text-align: center;
	display: flex;
	align-items:center;
	justify-content:center;
}
.tablalogin{
	th{
		padding-top: $padd;
		padding-bottom: $padd;
	}

}


//Estilo del Login y del Registro 

.cuadro1{
	background-color: white;
	padding: 14px;
	width: 500px;
	border-radius: 10px 10px 10px 10px; 
}

.cuadro2{
	background-color: white;
	padding: 19px;
	width: 500px;
	border-radius: 10px 10px 10px 10px; 
}

.lista{
	position: relative;
	top: 16px;
	left: -41px;
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	padding-bottom:0px;
}

.pestanal{
	background-color: white;
	padding: 2px 22px 0px 22px;
	margin-left: 14px;
	margin-right: 5px;
	border: 2px black solid;
	border-bottom: 2px white solid;
	border-radius: 10px 10px 0px 0px;
	color: black;
	
	.pestanal:hover{
		text-decoration: none;
		background-color: red;
	}

}

.pestanar{
	background-color: white;
	padding: 2px 22px 0px 22px;
	margin-left: 3px;
	margin-right: 5px;
	border: 2px black solid;
	border-radius: 10px 10px 0px 0px;
	color: black;

}

.gris{
	background-color: grey;
}
.loginprincipal{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content:center;
	padding-top: 50px;
	// background-image: url("../../img/fondobosque1.jpg");
	// background-size: 100% 100%;
	// align-items:center;

}

.formu{
	border: 2px black solid;
	border-radius: 10px 10px 10px 10px; 

}


.trinputs{
	padding: 10px;
}

.pestanaldiv{
	position: relative;
	bottom: 0px;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;


}
.pestanardiv{
	position: relative;
	bottom: 4px;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;

}